.container-AV{
    margin-top: -15px;
    width: 759px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30px;
    background: #EAEAEA;
    border-radius: 10px;
    position: relative;
  }
.title-AV{
    position: absolute;
    top : -15px;
    right: 19px;
    background-color: #02936F;
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
}
.title-para-AV{
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
}
.paragraph1-AV{
    width: 700px;
    margin-left: 30px;
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
}
.para-form-AV{
    display: block;
    padding-top: 2px;
}
.form-AV{
    /* padding-top: 50px; */
    padding-left: 42px;
    padding-right: 25px;
    padding-bottom: 7px;
}
.AV-Buttons-manager{
    display: flex;
    margin-top: 10px;
    margin-left: 380px;
}
.copy{
    width: 200px;
    margin-left: 200px;
}
.In1{
    margin-bottom: 30px;
}
.success-message{
    padding-left: 170px;
    padding-top: 40px;
    color: #02936F;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-left: 30px;
}