.av-buttons{
    background: #BDBDBD;
    border-radius: 27px;
    width: 160px;
}
.button-AV{
    width: 160px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 30px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}