.drop{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    border-radius: 30px;
    background: #FFF;
    border: none;
    text-align: center;
    margin-left: 20px;
    margin-top: 2px;
    outline: none;
}
.drop:focus + .options {
    border: none; 
}
.dropdown{
    width: 380px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    margin-top:-3px ;
}
.input1{
    display: flex;
}
.options{
    color: #C6C6C6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.labels-avd{
    width: 228px;
    height: 24px;
}