.labels-textarea{
    width: 260px;
    height: 24px;
    top: 195px;
    left: 474px;
    opacity: 0.8px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000;

}

.input-av{
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
    align-items: center;
    /* margin-bottom: 25px; */
}
.input-textarea{
    width: 380px;
    height: 80px;
    flex-shrink: 0;
    padding-top: 20px;
    font-family: Inter;
    top: 182px;
    left: 662px;
    border-radius: 30px;
    border-width: 0px;
    /* font-size: large; */
    padding-left: 30px;
    box-sizing: border-box;
    background-color: #FFFFFF;
  
  }