.bill-status-container {
    margin-top: 50px;
    width: 750px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-left: 470px;
    margin-bottom: 50px;
}

.bill-status-title {
    color: #02936F;
    border-radius: 50px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 800;
    font-size: large;
}

.bill-status-card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 14px;
    display: flex;
    margin: 5px 18px 18px 18px;
}

.bill-part {
    flex: 1;
    text-align: center;
    position: relative;
}

.bill-part:not(:first-child) {
    margin-left: 20px; /* Added to create space between items */
}

.bill-label {
    font-weight: bold;
    text-align: left;
}

.bill-value {
    text-align: left;
    font-size: 14px;
}

.status-bill-value {
    text-align: left;
    font-weight: 750;
}

.pending .status-bill-value {
    color: orange;
}

.approved .status-bill-value {
    color: green;
}

.rejected .status-bill-value {
    color: red;
}

.billdescription {
    font-size: 14px;
    color: #555;
    padding-bottom: 6%;
}

/* Add this CSS to billstatus.css */

.pagination-button {
    background-color: transparent;
    /* border: 1px solid #ccc; */
    padding: 18px 3px;
    cursor: pointer;
    font-weight: 500;
}

.pagination-button.active {
    /* background-color: #007bff; Change to your preferred color */
    color: green;
    /* border-color: #007bff; */
    font-weight: 900;
}

.bill-icon {
    font-size: 24px; /* Adjust the size of the icon */
    margin-top: 4px; /* Adjust the margin if needed */
    margin-right: 60%;
}
