/* employeeSubmitForm.css */
.container-ncSubmitForm {
    margin: 20px auto 0;
    width: 800px;
   
    border-radius: 10px;
    position: relative;
    /* background-color: #EAEAEA; */
    padding: 15px;
    box-sizing: border-box;
}

.title-ncSubmitForm {
    /* position: absolute;
    top: -18px;
    right: 30px;
    background-color: #02936F;
    color: white; */
    border-radius: 50px;
    padding: 5px 20px;
    font-weight:600;
}

form {
    margin: 0px 30px 30px 30px;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
}

.grp_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.grp-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.react-datepicker {
    font-family: Inter;
    background-color: #FFFFFF;
    border: 1px solid white;
}

.react-datepicker__header {
    background-color: #8db1a9;
    color: #2d2929;
}

.react-datepicker__day-name {
    background-color: #74958d;
}

.react-datepicker__day--selected {
    background-color: #02936F;
    color: #FFFFFF;
}

.react-datepicker__day--today {
    background-color: white;
    border-radius: 25%;
    outline: 2px solid #02936F;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    color: #000000;
}

.calendar-icon {
    margin-left: -40px;
}
