.hr-leave-predict{
    display: flex;
    width: 1000;
}
.leave-page-date{
    width: 700px;
}
.manager-leave{
    padding-left: 250px;
    display: flex;
}
.emp-leave-title2{
    margin-left: 110px;
}
.Leave_section{
    width: 700px;
    padding-left: 100px;
}
