.hrot-container{
    /*margin-left: 50px ;*/
    width: 250px;
    height : 250px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
    /*margin-top: 100px;*/
    /*padding-top: 25px;*/
    padding-bottom: 36px;
    
}


.hrot-chart{
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    margin-top: 10px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 56px;
}

.hrot-values{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    font-family: Inter;
}