.interview-details-container {
  margin-top: 50px;
  margin-left: 25%;
  width: 70%;
  background-color: #00000017; 
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.interview-details-title {
  color: #02936F;
  border-radius: 50px;
  text-align: left;
  font-weight: 800;
  font-size: large;
}

.interview-details-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.interview-details-table th, .interview-details-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  vertical-align: top;
  max-width: 200px;
  word-wrap: break-word;
  font-size: 12px;
}

.interview-details-table th {
  background-color: #02936F;
  color: white;
  font-weight: bold;
  padding: 20px;
}

.interview-details-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.interview-details-table tr:hover {
  background-color: #ddd;
}

.interview-details-table button {
  padding: 5px 10px;
  border: none;
  background-color: #02936F;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.interview-details-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.interview-details-pagination .page-item {
  margin: 0 5px;
}

.interview-details-pagination .page-link {
  padding: 5px 10px;
  border: 1px solid #02936F;
  color: #02936F;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.interview-details-pagination .page-link:hover {
  background-color: #02936F;
  color: white;
}

.interview-details-pagination .active {
  background-color: #02936F;
  color: white;
}

.interview-details-pagination .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
