.leave-status-container {
    margin-top: 50px;
    width: 750px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-left: 470px;
    margin-bottom: 50px;
}

.leave-status-title {
    color: #02936F;
    border-radius: 50px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 800;
    font-size: large;
}

.leave-status-card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 14px;
    display: flex;
    margin: 5px 18px 18px 18px;
}

.leave-part {
    flex: 1;
    text-align: center;
    position: relative;
}

.leave-part:not(:first-child) {
    margin-left: 20px; /* Added to create space between items */
}

.leave-label {
    font-weight: bold;
    text-align: left;
}

.leave-value {
    text-align: left;
    font-size: 14px;
}

.status-leave-value {
    text-align: left;
    font-weight: 750;
}

.pending .status-leave-value {
    color: orange;
}

.approved .status-leave-value {
    color: green;
}

.rejected .status-leave-value {
    color: red;
}

.leavedescription {
    font-size: 14px;
    color: #555;
    padding-bottom: 6%;
}
