.modM{
    padding-top: 100px;
    align-items: center;
    width: 1000px;
    text-align: center;
    padding-left: 300px;
}

.modL{
    display: flex;
    padding-top: 20px;
}

.momdate{
    padding-left: 100px;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.hrprbuttn-hrpredicedict{
    padding-left: 100px;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 40px;
}