/* Updated CSS */

.Login-page {
    position: fixed;
    display: flex;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    border: none; /* Ensure no border is applied */
    height: 700px;
}

.Login-cover {
    position: fixed;
    width:52%;
    
}

.Account-login {
    margin-left: 20px;
}
