.managers-attendances-container {
    margin-top: 50px;
    margin-left: 19%;
    margin-bottom: 3%;
    width: 40%;

    background-color: #00000017; 
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.managers-attendances-title {
    color: #02936F;
    border-radius: 50px;
    text-align: left;
    font-weight: 800;
    font-size: large;

}

.managers-attendances-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5%;
}

.managers-attendances-table th, .managers-attendances-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    max-width: 200px;
    word-wrap: break-word;
}

.managers-attendances-table th {
    background-color: #02936F;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.managers-attendances-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.managers-attendances-table tr:hover {
    background-color: #ddd;
}

.managers-attendances-table button {
    padding: 5px 10px;
    border: none;
    background-color: #02936F;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.managers-attendances-table span {
    color: green;
}

.managers-attendances-table td:last-child {
    text-align: center;
}

.managers-attendances-profile-pic {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
    margin: auto; /* Center the image horizontally */
}

.managers-attendances-table td {
    text-align: center; /* Center the content horizontally */
}
