.container2{
    margin-left: 500px;
    margin-top: 50px;
    width: 659px;
    height: 283px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #EAEAEA;
    border-radius: 10px;
    position: relative;
  }
.title2{
    position: absolute;
    width: 302px;
    height: 52px;
    flex-shrink: 0;
    right: 10px;
    background-color: #02936F;
    color: white;
    border-radius: 27px;
    padding: 2px;
    margin-top: -23px;
    margin-right: 60px;
}
.title-para2{
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
}
.container3{
    display: block;
    padding-top: 40px;
}
.upload-pdf{
    margin-left: 30px;
}
.send-button{
    margin-left: 370px;
}