.container-working-hours{
    margin-top: 50px;
    width: 350px;
    height : 160px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    padding-top: 20px;
  }
.title{
    position: absolute;
    top : 10px;
    right: 10px;
    background-color: #02936F;
    color: white;
    border-radius: 50px;
    padding: 5px;
    margin-top: -23px;
}

.list{
    margin-top: 15px;
}