@import url(https://fontawesome.com/icons/circle-play?f=classic&s=light);

.container-intra{
    width: 450px;
    height : 120px;
}


 ul {
    list-style: none;
    padding: 0;
    font-weight: bold;
}

li{
    margin-bottom: 1.5px;
}

