/* CalendarComponent.css */
.view-attendance-calender-container{
    margin-top: 50px;
    width: 350px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-left: 50%;
    margin-bottom: 50px;
}

.view-attendance-calender-title {
    color: #02936F;
    border-radius: 50px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 800;
    font-size: large;
}
.react-calendar__tile--active {
    background: initial;
    color: initial;
  }
  
.present {
    color: #02936F ;
    font-weight: bold;
  }
  
.absent {
    color:rgba(199, 16, 16, 0.872) ;
    font-weight: bold;
    
  }
  