.yearly-workhour-bar-container{
    margin-top: 50px;
    width: 640px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-left: 400px;
    margin-bottom: 50px;
}

.yearly-workhour-bar-title {
    color: #02936F;
    border-radius: 50px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 800;
    font-size: large;
}